<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>{{title}}</h1>
<form action="" method="post" name="{{ formname }}">
    {{form.hidden_tag()}}
    <table>
        <tr>
            <td>Sensor name:</td>
            <td>{{form.name(size = 28)}}</td>
            
        </tr>

        <tr>
            <td>Sensor Info:</td>
            <td>{{form.about(cols = 32, rows = 4)}}</td>
        </tr>
        
        <tr>
            <td>Sensor Picture:</td>
            <td>{{form.pic(size = 28)}}</td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Save Changes"></td>
        </tr>
    </table>
</form>
{% endblock %}