<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<body>

{% for id in ids %}
<h3>{{id}}</h3>
<div id="{{id}}"></div>
{% endfor %}

</body>

<footer>
<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/d3.min.js"></script>
<script src="/static/js/plotly-basic.js"></script>
<script type="text/javascript">

var graphs = {{graphJSON | safe}};
var ids = {{ids | safe}};

for(var i in graphs) {
    Plotly.plot(ids[i],
    graphs[i].data,
    graphs[i].layout || {});
}

</script>
</footer>
{% endblock %}