{% set a = {'0':'POWER',
'1':'Ground',
'2':'GPIO',
'3':'UART',
'4':'RESERVED',
}
%}

{% set ca = {'0':'red',
'1':'black',
'2':'orange',
'3':'green',
'4':'gray',
}
%}

<table border='1'>

{%for pin in pins%}
	{% if pin.id % 2 %}
	<tr>
		<td>{% if sens.filter_by(raspin_id = pin.id).first().conpin %}<a href="{{url_for('pin_delconnect', sensid = sens.filter_by(raspin_id = pin.id).first().id)}}">Удалить Сенсор</a>{% else %}{% endif %}</td>

	    <td>{% if not sens.filter_by(raspin_id = pin.id).first().conpin %}<a href="{{url_for('pin_connect', pin_id = pin['id'])}}">Подключить Сенсор</a>{% else %}Настроить: {{ sens.filter_by(raspin_id = pin.id).first().name }}{% endif %}</td>

	    <td align='right' style="color:{{ca[pin.type]}}; width:120px; ">{{a[pin.type]}} {{pin.number}}</td>

	    <td style="width:10px;"> {% if pin['id'] < 10 %}
			{{ [0,pin.id]|join("") }}
			{% else %}
			{{pin.id}}
			{% endif %}
		</td>

	{% endif %}

	{% if pin.id % 2 == 0 %}

	    <td style="width:10px;">{% if pin.id < 10 %}
			{{ [0,pin.id]|join("") }}
			{% else %}
			{{pin.id}}
			{% endif %}
		</td>
	    <td align="left" style="color:{{ca[pin.type]}}; width:120px;">{{pin.number}} {{a[pin.type]}}</td>

	    <td>{% if not sens.filter_by(raspin_id = pin.id).first().conpin %}<a href="{{url_for('pin_connect', pin_id = pin.id)}}">Подключить Сенсор</a>{% else %}Настроить: {{ sens.filter_by(raspin_id = pin.id).first().name }}{% endif %}</td>

	    <td>{% if sens.filter_by(raspin_id = pin.id).first().conpin %}<a href="{{url_for('pin_delconnect', sensid = sens.filter_by(raspin_id = pin.id).first().id)}}">Удалить Сенсор</a>{% else %}{% endif %}</td>
	        
	</tr>

	{% endif %}

{% endfor %}

</table>
