<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h3>Sensors database:</h3>

{% if sensorsids != None %}
<table border='1'>
    <tr>
        <td>ID</td>
        <td>Наименование</td>
        <td>Описание</td>
        <td>Изображение</td>
        <td>Подключения</td>
        {% if current_user.role == 1 %}
            <td>Редактировать</td>
            <td>Удалить</td>
        {% endif %}
    </tr>
{% for i in sensorsids %}
<tr>
        <td>{{i['id']}}</td>
        <td><a href="https://www.google.com/search?q={{i['name']}}&ie=utf-8&oe=utf-8">{{i['name']}}</td>
        <td>{{i['about']}}</td>
        <td><a href="{{i['pic']}}"><img src="{{i['pic']}}" width="100" height="80" alt="Computer Hope"></a></td>
        <td>{{i['connected']}}</td>
        {% if current_user.role == 1 %}
            <td><a href="{{ url_for('editsensor', pid=i['id'] ) }}">Edit</a></td>
            <td><a href="{{ url_for('removesensor', pid=i['id']) }}">Remove</a></td>
        {% endif %}
</tr>
{% endfor %}
</table>
{% endif %}


<br>
{% if current_user.role == 1 %}
    <a href="{{ url_for('addsensor') }}">Add Sensor</a>
{% endif %}


{% endblock %}