<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
{% if result %}
      <h1>Hello, {{current_user.username}}!</h1>
      <a href="/tempgrapth">Graphs</a>
      <hr>

<table border='1'>
	<tr align="center">
		<td>№№</td>
		<td>Время</td>
		<td>Температура</td>
		<td>Влажность</td>
	</tr>
{% for item in result | sort(reverse = True) %}

<tr align="center">
	<td>{{item[0]}}</td>
	<td>{{item[1]}}</td>
	<td>{{item[2]}}</td>
	<td>{{item[3]}}</td>
</tr>

{%endfor%}

</table>

{% endif %}


{% endblock %}