{% extends "base.html" %}

{% block content %}
    
    <div class="form-wrapper">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <ul>
            <li>
            {{ form.email(size=54, placeholder="Email to reset password") }}<br>
                {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
        </li>
        <li>{{ form.submit() }}</li>
        </ul>
    </form>
</div>
{% endblock %}