{% extends "base.html" %}

{% block content %}
<div class="form-wrapper">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <ul class="form-elem-list">
        <li class="form-item">
            {{ form.password(size=32, placeholder="New password") }}
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
        </li>
        <li  class="form-item">
            
            {{ form.password2(size=32, placeholder="Repeat password") }}
                {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
        </li>
        <li class="form-item-btn">
            {{ form.submit(class_="form-item-btn", id="submit", type="submit") }}
        </li>
    </form>
</div>
{% endblock %}