<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
 <head>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/mystatic.css') }}"/>
</head> 
<div class="overlay"></div>
<div class="terminal">
  <h1>Error <span class="errorcode">404</span></h1>
  <p class="output">The page you are looking for might have been removed, had its name changed or is temporarily unavailable</ü>
  <p class="output">Please try <a href="/">this link</a> or <a href="/index">this link</a></p>
  <p class="output">Good luck</p>
</div>
{% endblock %}