<html>
  <head>
    {% if title %}
    <title>{{title}} - smarthome</title>
    {% else %}
    <title>smarthome</title>
    {% endif %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/mystatic.css') }}"/>

  </head>
  <body>
      <div>
        Smarthome:
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('rasp') }}">Raspberry Settings</a>
        <a href="{{ url_for('temp') }}">Sensors</a>
        <a href="{{ url_for('usersettings', username=current_user.username ) }}">Settings</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    <hr>
    {% block content %}{% endblock %}
  </body>

</html>