

<table align="right" border='1'>
    <tr>
        <td align='right' style="color:yellow; width:100px; ">3.3v PVR</td><td style="width:10px;">01</td>
        <td style="width:10px;">02</td><td align="left" style="color:red; width:100px;">5v PVR</td>
    </tr>
    <tr>
        <td align='right' style="color:orange; width:100px; ">GPIO 2</td><td>03</td>
        <td>04</td><td align="left" style="color:red;">5v PVR</td>
    </tr>
    <tr>
        <td align='right' style="color:orange; width:100px; ">GPIO 3</td><td>05</td>
        <td>06</td><td align='left' style="color:black; width:100px; ">GROUND</td>
    </tr>
    <tr>
        <td align='right' style="color:orange; width:100px; ">GPIO 4</td><td>07</td>
        <td>08</td><td align='left' style="color:green; width:100px; ">UART TX</td>
    </tr>
    <tr>
        <td align='right' style="color:black; width:100px; ">GROUND</td><td>09</td>
        <td>10</td><td align='left' style="color:green; width:100px; ">UART RX</td>
    </tr>
    <tr>
        <td align='right' style="color:orange; width:100px; ">GPIO 17</td><td>11</td>
        <td>12</td><td align='left' style="color:orange; width:100px; ">GPIO 18</td>
    </tr>
    <tr>
        <td align='right' style="color:orange; width:100px; ">GPIO 27</td><td>13</td>
        <td>14</td><td align='left' style="color:black; width:100px; ">GROUND</td>
    </tr>

    <tr>
        <td align='right' style="color:orange; width:100px; ">GPIO 22</td><td>15</td>
        <td>16</td><td align='left' style="color:orange; width:100px; ">GPIO 23</td>
    </tr>
    <tr>
        <td align='right' style="color:yellow; width:100px; ">3.3v PVR</td><td>17</td>
        <td>18</td><td align='left' style="color:orange; width:100px; ">GPIO 24</td>
    </tr>
    <tr>
        <td align='right' style="color:orange; width:100px; ">GPIO 10</td><td>19</td>
        <td>20</td><td align='left' style="color:black; width:100px; ">GROUND</td>
    </tr>
    <tr>
        <td align='right' style="color:orange; width:100px; ">GPIO 9</td><td>21</td>
        <td>22</td><td align='left' style="color:orange; width:100px; ">GPIO 25</td>
    </tr>
    <tr>
        <td align='right' style="color:orange; width:100px; ">GPIO 11</td><td>23</td>
        <td>24</td><td align='left' style="color:orange; width:100px; ">GPIO 8</td>
    </tr>
    <tr>
        <td align='right' style="color:black; width:100px; ">GROUND</td><td>25</td>
        <td>26</td><td align='left' style="color:orange; width:100px; ">GPIO 7</td>
    </tr>
    <tr>
        <td align='right' style="color:grey; width:100px; ">RESERVED</td><td>27</td>
        <td>28</td><td align='left' style="color:grey; width:100px; ">RESERVED</td>
    </tr>
    <tr>
        <td align='right' style="color:orange; width:100px; ">GPIO 5</td><td>29</td>
        <td>30</td><td align='left' style="color:black; width:100px; ">GROUND</td>
    </tr>
    <tr>
        <td align='right' style="color:orange; width:100px; ">GPIO 6</td><td>31</td>
        <td>32</td><td align='left' style="color:orange; width:100px; ">GPIO 12</td>
    </tr>
    <tr>
        <td align='right' style="color:orange; width:100px; ">GPIO 13</td><td>33</td>
        <td>34</td><td align='left' style="color:black; width:100px; ">GROUND</td>
    </tr>
    <tr>
        <td align='right' style="color:orange; width:100px; ">GPIO 19</td><td>35</td>
        <td>36</td><td align='left' style="color:orange; width:100px; ">GPIO 16</td>
    </tr>
    <tr>
        <td align='right' style="color:orange; width:100px; ">GPIO 26</td><td>37</td>
        <td>38</td><td align='left' style="color:orange; width:100px; ">GPIO 20</td>
    </tr>
    <tr>
        <td align='right' style="color:black; width:100px; ">GROUND</td><td>39</td>
        <td>40</td><td align='left' style="color:orange; width:100px; ">GPIO 21</td>
    </tr>

</table>